<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>个人首页</title>
    </head>
    <body>
        <center>
            <h1>{{user}}, 欢迎你！</h1>
            <table border="3px">
                <tr>
                    <th>课程</th>
                    <th>成绩</th>
                </tr>
                <tr>
                    <td>语文</td>
                    <td>{{dic.chinese}}</td>
                </tr>
                <tr>
                    <td>数学</td>
                    <td>{{dic.math}}</td>
                </tr>
                <tr>
                    <td>英语</td>
                    <td>{{dic.english}}</td>
                </tr>
            </table>
        </center>
    </body>
</html>
