<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>登录界面</title>
        <meta charset="utf-8">
    </head>
    <body>
        <center>
            <form method="post">
                <br><br>
                账号：
                <input type="text" name="username"><br><br>
                密码：
                <input type="text" name="password"><br><br>
                <input type="submit" value="登录"><br><br>
                <div style="color: red;">{{Error}}</div><br>
            </form>
        </center>
    </body>
</html>
